openapi: 3.0.1
info:
  title: RealWorld Conduit API
  description: Conduit API documentation. Fixed for proper code generation with Orval.
  contact:
    name: RealWorld
    url: https://realworld-docs.netlify.app/
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  version: 1.0.0
tags:
  - name: Admin
  - name: Articles
  - name: Comments
  - name: Favorites
  - name: Membership
  - name: Profile
  - name: Tags
  - name: Tips
  - name: User and Authentication
servers:
  - url: https://api.realworld.io/api
paths:
  /users/login:
    post:
      tags:
        - User and Authentication
      summary: Existing user login
      description: Login for existing user
      operationId: Login
      requestBody:
        required: true
        description: Credentials to use
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginUserRequest'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      x-codegen-request-body-name: body
  /users:
    post:
      tags:
        - User and Authentication
      description: Register a new user
      operationId: CreateUser
      requestBody:
        required: true
        description: Details of the new user to register
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUserRequest'
      responses:
        '201':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      x-codegen-request-body-name: body
  /user:
    get:
      tags:
        - User and Authentication
      summary: Get current user
      description: Gets the currently logged-in user
      operationId: GetCurrentUser
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
    put:
      tags:
        - User and Authentication
      summary: Update current user
      description: Updated user information for current user
      operationId: UpdateCurrentUser
      requestBody:
        required: true
        description: User details to update. At least **one** field is required.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
      x-codegen-request-body-name: body
  /profiles/{username}:
    get:
      tags:
        - Profile
      summary: Get a profile
      description: Get a profile of a user of the system. Auth is optional
      operationId: GetProfileByUsername
      parameters:
        - name: username
          in: path
          description: Username of the profile to get
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
  /profiles/{username}/follow:
    post:
      tags:
        - Profile
      summary: Follow a user
      description: Follow a user by username
      operationId: FollowUserByUsername
      parameters:
        - name: username
          in: path
          description: Username of the profile you want to follow
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
    delete:
      tags:
        - Profile
      summary: Unfollow a user
      description: Unfollow a user by username
      operationId: UnfollowUserByUsername
      parameters:
        - name: username
          in: path
          description: Username of the profile you want to unfollow
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /articles/feed:
    get:
      tags:
        - Articles
      summary: Get recent articles from users you follow
      description: Get most recent articles from users you follow. Use query parameters
        to limit. Auth is required
      operationId: GetArticlesFeed
      parameters:
        - in: query
          name: offset
          required: true
          schema:
            type: integer
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          required: true
          schema:
            type: integer
          description: The numbers of items to return.
      responses:
        '200':
          description: Multiple articles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleArticlesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /articles:
    get:
      tags:
        - Articles
      summary: Get recent articles globally
      description: Get most recent articles globally. Use query parameters to filter
        results. Auth is optional
      operationId: GetArticles
      parameters:
        - name: tag
          in: query
          description: Filter by tag
          schema:
            type: string
        - name: author
          in: query
          description: Filter by author (username)
          schema:
            type: string
        - name: favorited
          in: query
          description: Filter by favorites of a user (username)
          schema:
            type: string
        - in: query
          name: offset
          required: true
          schema:
            type: integer
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          required: true
          schema:
            type: integer
          description: The numbers of items to return.
      responses:
        '200':
          description: Multiple articles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleArticlesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
    post:
      tags:
        - Articles
      summary: Create an article
      description: Create an article. Auth is required
      operationId: CreateArticle
      requestBody:
        required: true
        description: Article to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewArticleRequest'
      responses:
        '201':
          description: Single article
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleArticleResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
      x-codegen-request-body-name: article
  /articles/{slug}:
    get:
      tags:
        - Articles
      summary: Get an article
      description: Get an article. Auth not required
      operationId: GetArticle
      parameters:
        - name: slug
          in: path
          description: Slug of the article to get
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Single article
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleArticleResponse'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
    put:
      tags:
        - Articles
      summary: Update an article
      description: Update an article. Auth is required
      operationId: UpdateArticle
      parameters:
        - name: slug
          in: path
          description: Slug of the article to update
          required: true
          schema:
            type: string
      requestBody:
        required: true
        description: Article to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateArticleRequest'
      responses:
        '200':
          description: Single article
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleArticleResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
      x-codegen-request-body-name: article
    delete:
      tags:
        - Articles
      summary: Delete an article
      description: Delete an article. Auth is required
      operationId: DeleteArticle
      parameters:
        - name: slug
          in: path
          description: Slug of the article to delete
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /articles/{slug}/comments:
    get:
      tags:
        - Comments
      summary: Get comments for an article
      description: Get the comments for an article. Auth is optional
      operationId: GetArticleComments
      parameters:
        - name: slug
          in: path
          description: Slug of the article that you want to get comments for
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Multiple comments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleCommentsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
    post:
      tags:
        - Comments
      summary: Create a comment for an article
      description: Create a comment for an article. Auth is required
      operationId: CreateArticleComment
      parameters:
        - name: slug
          in: path
          description: Slug of the article that you want to create a comment for
          required: true
          schema:
            type: string
      requestBody:
        required: true
        description: Comment you want to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCommentRequest'
      responses:
        '200':
          description: Single comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleCommentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
      x-codegen-request-body-name: comment
  /articles/{slug}/comments/{id}:
    delete:
      tags:
        - Comments
      summary: Delete a comment for an article
      description: Delete a comment for an article. Auth is required
      operationId: DeleteArticleComment
      parameters:
        - name: slug
          in: path
          description: Slug of the article that you want to delete a comment for
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of the comment you want to delete
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /articles/{slug}/favorite:
    post:
      tags:
        - Favorites
      summary: Favorite an article
      description: Favorite an article. Auth is required
      operationId: CreateArticleFavorite
      parameters:
        - name: slug
          in: path
          description: Slug of the article that you want to favorite
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Single article
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleArticleResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
    delete:
      tags:
        - Favorites
      summary: Unfavorite an article
      description: Unfavorite an article. Auth is required
      operationId: DeleteArticleFavorite
      parameters:
        - name: slug
          in: path
          description: Slug of the article that you want to unfavorite
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Single article
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleArticleResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /tags:
    get:
      tags:
        - Tags
      summary: Get tags
      description: Get tags. Auth not required
      operationId: GetTags
      responses:
        '200':
          description: Tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsResponse'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
  /admin/users:
    get:
      tags:
        - Admin
      summary: List all users. Moderators only
      operationId: GetAdminUsers
      parameters:
        - name: search
          in: query
          description: Part of a username or email
          schema:
            type: string
        - in: query
          name: offset
          required: true
          schema:
            type: integer
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          required: true
          schema:
            type: integer
          description: The numbers of items to return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUsersResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '403':
          description: The role does not allow this
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /admin/users/{username}/suspend:
    post:
      tags:
        - Admin
      summary: Suspend a user. Moderators only
      operationId: SuspendUser
      parameters:
        - name: username
          in: path
          description: Username of the user
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '403':
          description: The role does not allow this
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
    delete:
      tags:
        - Admin
      summary: Lift a suspension. Moderators only
      operationId: UnsuspendUser
      parameters:
        - name: username
          in: path
          description: Username of the user
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '403':
          description: The role does not allow this
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /admin/users/{username}/role:
    put:
      tags:
        - Admin
      summary: Set a user's role. Admins only
      operationId: SetUserRole
      parameters:
        - name: username
          in: path
          description: Username of the user
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetRoleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '403':
          description: The role does not allow this
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /admin/articles:
    get:
      tags:
        - Admin
      summary: List all articles, hidden ones included. Moderators only
      operationId: GetAdminArticles
      parameters:
        - name: hidden
          in: query
          description: Only hidden ("true") or only visible ("false") articles
          schema:
            type: string
        - in: query
          name: offset
          required: true
          schema:
            type: integer
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          required: true
          schema:
            type: integer
          description: The numbers of items to return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminArticlesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '403':
          description: The role does not allow this
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /admin/articles/{slug}/hide:
    post:
      tags:
        - Admin
      summary: Hide an article. Moderators only
      operationId: HideArticle
      parameters:
        - name: slug
          in: path
          description: Slug of the article
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminArticleResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '403':
          description: The role does not allow this
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
    delete:
      tags:
        - Admin
      summary: Show a hidden article again. Moderators only
      operationId: UnhideArticle
      parameters:
        - name: slug
          in: path
          description: Slug of the article
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminArticleResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '403':
          description: The role does not allow this
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /admin/actions:
    get:
      tags:
        - Admin
      summary: The moderation log, newest first. Moderators only
      operationId: GetModerationActions
      parameters:
        - in: query
          name: offset
          required: true
          schema:
            type: integer
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          required: true
          schema:
            type: integer
          description: The numbers of items to return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationActionsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '403':
          description: The role does not allow this
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /membership/plans:
    get:
      tags:
        - Membership
      summary: The membership plans and their prices
      operationId: GetMembershipPlans
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansResponse'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
  /membership:
    get:
      tags:
        - Membership
      summary: The current user's membership, or null
      operationId: GetMembership
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /membership/checkout:
    post:
      tags:
        - Membership
      summary: Start paying for a membership; returns the address of the checkout
      operationId: StartMembershipCheckout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipCheckoutRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /membership/cancel:
    post:
      tags:
        - Membership
      summary: Stop the membership at the end of the paid period
      operationId: CancelMembership
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /membership/resume:
    post:
      tags:
        - Membership
      summary: Take a cancellation back
      operationId: ResumeMembership
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /membership/payments:
    get:
      tags:
        - Membership
      summary: The current user's payments, newest first
      operationId: GetMembershipPayments
      parameters:
        - in: query
          name: offset
          required: true
          schema:
            type: integer
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          required: true
          schema:
            type: integer
          description: The numbers of items to return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /admin/memberships:
    get:
      tags:
        - Admin
      summary: List all memberships. Moderators only
      operationId: GetAdminMemberships
      parameters:
        - name: status
          in: query
          description: Only memberships with this status
          schema:
            type: string
        - in: query
          name: offset
          required: true
          schema:
            type: integer
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          required: true
          schema:
            type: integer
          description: The numbers of items to return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMembershipsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '403':
          description: The role does not allow this
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /admin/payments:
    get:
      tags:
        - Admin
      summary: List all payments. Moderators only
      operationId: GetAdminPayments
      parameters:
        - name: kind
          in: query
          description: Only payments of this kind (membership or tip)
          schema:
            type: string
        - name: status
          in: query
          description: Only payments with this status
          schema:
            type: string
        - in: query
          name: offset
          required: true
          schema:
            type: integer
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          required: true
          schema:
            type: integer
          description: The numbers of items to return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminPaymentsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '403':
          description: The role does not allow this
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /admin/payments/{id}/refund:
    post:
      tags:
        - Admin
      summary: Refund a payment. Admins only
      operationId: RefundPayment
      parameters:
        - name: id
          in: path
          description: Id of the payment
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminPaymentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '403':
          description: The role does not allow this
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /tips:
    post:
      tags:
        - Tips
      summary: Start a tip. Login is optional; a guest gives an email address
      operationId: CreateTip
      parameters:
        - name: X-Guest-Token
          in: header
          description: A guest token from an earlier verified tip; skips the emailed code for the same address
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTipRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartedTipResponse'
        '404':
          description: No such author or article
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '429':
          description: Too many codes were sent to this address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
  /tips/{reference}:
    get:
      tags:
        - Tips
      summary: A tip, by its reference
      operationId: GetTip
      parameters:
        - name: reference
          in: path
          description: The reference of the tip
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TipResponse'
        '404':
          description: No such tip
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
  /tips/{reference}/verify:
    post:
      tags:
        - Tips
      summary: Confirm a guest's email address with the emailed code
      operationId: VerifyTip
      parameters:
        - name: reference
          in: path
          description: The reference of the tip
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyTipRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifiedTipResponse'
        '404':
          description: No such tip
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
  /tips/{reference}/resend:
    post:
      tags:
        - Tips
      summary: Email a new code
      operationId: ResendTipCode
      parameters:
        - name: reference
          in: path
          description: The reference of the tip
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TipResponse'
        '404':
          description: No such tip
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '429':
          description: Too many codes were sent to this address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
  /user/tips:
    get:
      tags:
        - Tips
      summary: The current user's tips, newest first
      operationId: GetUserTips
      parameters:
        - name: direction
          in: query
          description: Which tips to list, "received" (the default) or "sent"
          schema:
            type: string
        - in: query
          name: offset
          required: true
          schema:
            type: integer
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          required: true
          schema:
            type: integer
          description: The numbers of items to return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TipsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
  /admin/tips:
    get:
      tags:
        - Admin
      summary: List all tips. Moderators only
      operationId: GetAdminTips
      parameters:
        - name: status
          in: query
          description: Only tips with this status
          schema:
            type: string
        - in: query
          name: offset
          required: true
          schema:
            type: integer
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          required: true
          schema:
            type: integer
          description: The numbers of items to return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminTipsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '403':
          description: The role does not allow this
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
        '422':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorModel'
      security:
        - Token: []
components:
  schemas:
    LoginUser:
      required:
        - email
        - password
      type: object
      properties:
        email:
          type: string
        password:
          type: string
          format: password
    NewUser:
      required:
        - email
        - password
        - username
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        password:
          type: string
          format: password
    User:
      required:
        - email
        - image
        - membership
        - role
        - token
        - username
      type: object
      properties:
        email:
          type: string
        username:
          type: string
        bio:
          type: string
          nullable: true
        image:
          type: string
        token:
          type: string
        role:
          $ref: '#/components/schemas/Role'
        membership:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Membership'
    UpdateUser:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
        username:
          type: string
        bio:
          type: string
        image:
          type: string
    Profile:
      required:
        - following
        - image
        - member
        - username
      type: object
      properties:
        username:
          type: string
        bio:
          type: string
          nullable: true
        image:
          type: string
        following:
          type: boolean
        member:
          type: boolean
    Article:
      required:
        - author
        - body
        - createdAt
        - description
        - favorited
        - favoritesCount
        - hidden
        - locked
        - membersOnly
        - slug
        - tagList
        - title
        - updatedAt
      type: object
      properties:
        slug:
          type: string
        title:
          type: string
        description:
          type: string
        body:
          type: string
        tagList:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        favorited:
          type: boolean
        favoritesCount:
          type: integer
        membersOnly:
          type: boolean
        locked:
          type: boolean
        hidden:
          type: boolean
        hiddenReason:
          type: string
          nullable: true
        author:
          $ref: '#/components/schemas/Profile'
    NewArticle:
      required:
        - body
        - description
        - title
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        body:
          type: string
        tagList:
          type: array
          items:
            type: string
        membersOnly:
          type: boolean
    UpdateArticle:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        body:
          type: string
        tagList:
          type: array
          items:
            type: string
        membersOnly:
          type: boolean
    Comment:
      required:
        - author
        - body
        - createdAt
        - id
        - updatedAt
      type: object
      properties:
        id:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        body:
          type: string
        author:
          $ref: '#/components/schemas/Profile'
    NewComment:
      required:
        - body
      type: object
      properties:
        body:
          type: string
    Role:
      type: string
      enum:
        - user
        - moderator
        - admin
    AdminUser:
      required:
        - createdAt
        - email
        - role
        - suspended
        - username
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        role:
          $ref: '#/components/schemas/Role'
        suspended:
          type: boolean
        suspendedAt:
          type: string
          nullable: true
        suspendedReason:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    AdminArticle:
      required:
        - author
        - createdAt
        - hidden
        - slug
        - title
      type: object
      properties:
        slug:
          type: string
        title:
          type: string
        author:
          type: string
        createdAt:
          type: string
          format: date-time
        hidden:
          type: boolean
        hiddenAt:
          type: string
          nullable: true
        hiddenBy:
          type: string
          nullable: true
        hiddenReason:
          type: string
          nullable: true
    ModerationAction:
      required:
        - action
        - createdAt
        - id
        - moderator
        - target
        - targetType
      type: object
      properties:
        id:
          type: integer
        action:
          type: string
          enum:
            - suspend
            - unsuspend
            - hide
            - unhide
            - set_role
            - refund
        moderator:
          type: string
        targetType:
          type: string
          enum:
            - user
            - article
            - payment
        target:
          type: string
        note:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    ModerationRequest:
      required:
        - moderation
      type: object
      properties:
        moderation:
          required:
            - reason
          type: object
          properties:
            reason:
              type: string
    SetRoleRequest:
      required:
        - user
      type: object
      properties:
        user:
          required:
            - role
          type: object
          properties:
            role:
              $ref: '#/components/schemas/Role'
    AdminUserResponse:
      required:
        - user
      type: object
      properties:
        user:
          $ref: '#/components/schemas/AdminUser'
    AdminUsersResponse:
      required:
        - users
        - usersCount
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/AdminUser'
        usersCount:
          type: integer
    AdminArticleResponse:
      required:
        - article
      type: object
      properties:
        article:
          $ref: '#/components/schemas/AdminArticle'
    AdminArticlesResponse:
      required:
        - articles
        - articlesCount
      type: object
      properties:
        articles:
          type: array
          items:
            $ref: '#/components/schemas/AdminArticle'
        articlesCount:
          type: integer
    ModerationActionsResponse:
      required:
        - actions
        - actionsCount
      type: object
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ModerationAction'
        actionsCount:
          type: integer
    PlanId:
      type: string
      enum:
        - monthly
        - yearly
    MembershipStatus:
      type: string
      enum:
        - pending
        - active
        - past_due
        - cancelled
        - lapsed
    PaymentKind:
      type: string
      enum:
        - membership
        - tip
    PaymentStatus:
      type: string
      enum:
        - pending
        - succeeded
        - expired
        - refunded
    Plan:
      required:
        - amountCents
        - currency
        - id
        - interval
        - name
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PlanId'
        name:
          type: string
        amountCents:
          type: integer
        currency:
          type: string
        interval:
          type: string
          enum:
            - month
            - year
    Membership:
      required:
        - cancelAtPeriodEnd
        - hasAccess
        - plan
        - status
      type: object
      properties:
        plan:
          $ref: '#/components/schemas/PlanId'
        status:
          $ref: '#/components/schemas/MembershipStatus'
        hasAccess:
          type: boolean
        currentPeriodEnd:
          type: string
          nullable: true
        cancelAtPeriodEnd:
          type: boolean
        startedAt:
          type: string
          nullable: true
        endedAt:
          type: string
          nullable: true
    Payment:
      required:
        - amountCents
        - createdAt
        - currency
        - description
        - id
        - kind
        - status
      type: object
      properties:
        id:
          type: integer
        kind:
          $ref: '#/components/schemas/PaymentKind'
        amountCents:
          type: integer
        currency:
          type: string
        description:
          type: string
        status:
          $ref: '#/components/schemas/PaymentStatus'
        createdAt:
          type: string
          format: date-time
        paidAt:
          type: string
          nullable: true
        refundedAt:
          type: string
          nullable: true
    AdminMembership:
      required:
        - cancelAtPeriodEnd
        - email
        - hasAccess
        - plan
        - status
        - username
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        plan:
          $ref: '#/components/schemas/PlanId'
        status:
          $ref: '#/components/schemas/MembershipStatus'
        hasAccess:
          type: boolean
        currentPeriodEnd:
          type: string
          nullable: true
        cancelAtPeriodEnd:
          type: boolean
        startedAt:
          type: string
          nullable: true
        endedAt:
          type: string
          nullable: true
    AdminPayment:
      required:
        - amountCents
        - createdAt
        - currency
        - description
        - id
        - kind
        - provider
        - status
      type: object
      properties:
        id:
          type: integer
        kind:
          $ref: '#/components/schemas/PaymentKind'
        amountCents:
          type: integer
        currency:
          type: string
        description:
          type: string
        status:
          $ref: '#/components/schemas/PaymentStatus'
        createdAt:
          type: string
          format: date-time
        paidAt:
          type: string
          nullable: true
        refundedAt:
          type: string
          nullable: true
        username:
          type: string
          nullable: true
        provider:
          type: string
    PlansResponse:
      required:
        - plans
      type: object
      properties:
        plans:
          type: array
          items:
            $ref: '#/components/schemas/Plan'
    MembershipResponse:
      required:
        - membership
      type: object
      properties:
        membership:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Membership'
    MembershipCheckoutRequest:
      required:
        - membership
      type: object
      properties:
        membership:
          required:
            - plan
          type: object
          properties:
            plan:
              $ref: '#/components/schemas/PlanId'
    CheckoutResponse:
      required:
        - checkoutUrl
      type: object
      properties:
        checkoutUrl:
          type: string
    PaymentsResponse:
      required:
        - payments
        - paymentsCount
      type: object
      properties:
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        paymentsCount:
          type: integer
    AdminMembershipsResponse:
      required:
        - memberships
        - membershipsCount
      type: object
      properties:
        memberships:
          type: array
          items:
            $ref: '#/components/schemas/AdminMembership'
        membershipsCount:
          type: integer
    AdminPaymentsResponse:
      required:
        - payments
        - paymentsCount
      type: object
      properties:
        payments:
          type: array
          items:
            $ref: '#/components/schemas/AdminPayment'
        paymentsCount:
          type: integer
    AdminPaymentResponse:
      required:
        - payment
      type: object
      properties:
        payment:
          $ref: '#/components/schemas/AdminPayment'
    TipStatus:
      type: string
      enum:
        - pending_verification
        - pending_payment
        - paid
        - expired
        - refunded
    Tip:
      required:
        - amountCents
        - author
        - createdAt
        - currency
        - reference
        - status
      type: object
      properties:
        reference:
          type: string
        status:
          $ref: '#/components/schemas/TipStatus'
        amountCents:
          type: integer
        currency:
          type: string
        author:
          type: string
        article:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        paidAt:
          type: string
          nullable: true
    AdminTip:
      required:
        - amountCents
        - author
        - createdAt
        - currency
        - reference
        - status
        - tipperEmail
      type: object
      properties:
        reference:
          type: string
        status:
          $ref: '#/components/schemas/TipStatus'
        amountCents:
          type: integer
        currency:
          type: string
        author:
          type: string
        article:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        paidAt:
          type: string
          nullable: true
        tipperEmail:
          type: string
        tipperUsername:
          type: string
          nullable: true
    NewTip:
      required:
        - amountCents
        - author
      type: object
      properties:
        author:
          type: string
        article:
          type: string
        amountCents:
          type: integer
        name:
          type: string
        message:
          type: string
        email:
          type: string
    NewTipRequest:
      required:
        - tip
      type: object
      properties:
        tip:
          $ref: '#/components/schemas/NewTip'
    StartedTipResponse:
      required:
        - checkoutUrl
        - tip
      type: object
      properties:
        tip:
          $ref: '#/components/schemas/Tip'
        checkoutUrl:
          type: string
          nullable: true
    VerifyTipRequest:
      required:
        - verification
      type: object
      properties:
        verification:
          required:
            - code
          type: object
          properties:
            code:
              type: string
    VerifiedTipResponse:
      required:
        - checkoutUrl
        - guestToken
        - tip
      type: object
      properties:
        tip:
          $ref: '#/components/schemas/Tip'
        checkoutUrl:
          type: string
        guestToken:
          type: string
    TipResponse:
      required:
        - tip
      type: object
      properties:
        tip:
          $ref: '#/components/schemas/Tip'
    TipsResponse:
      required:
        - tips
        - tipsCount
      type: object
      properties:
        tips:
          type: array
          items:
            $ref: '#/components/schemas/Tip'
        tipsCount:
          type: integer
    AdminTipsResponse:
      required:
        - tips
        - tipsCount
      type: object
      properties:
        tips:
          type: array
          items:
            $ref: '#/components/schemas/AdminTip'
        tipsCount:
          type: integer
    GenericErrorModel:
      required:
        - errors
      type: object
      properties:
        errors:
          required:
            - body
          type: object
          properties:
            body:
              type: array
              items:
                type: string
    LoginUserRequest:
      required:
        - user
      type: object
      properties:
        user:
          $ref: '#/components/schemas/LoginUser'
    NewUserRequest:
      required:
        - user
      type: object
      properties:
        user:
          $ref: '#/components/schemas/NewUser'
    UpdateUserRequest:
      required:
        - user
      type: object
      properties:
        user:
          $ref: '#/components/schemas/UpdateUser'
    NewArticleRequest:
      required:
        - article
      type: object
      properties:
        article:
          $ref: '#/components/schemas/NewArticle'
    UpdateArticleRequest:
      required:
        - article
      type: object
      properties:
        article:
          $ref: '#/components/schemas/UpdateArticle'
    NewCommentRequest:
      required:
        - comment
      type: object
      properties:
        comment:
          $ref: '#/components/schemas/NewComment'
    ArticlePreview:
      required:
        - author
        - createdAt
        - description
        - favorited
        - favoritesCount
        - membersOnly
        - slug
        - tagList
        - title
        - updatedAt
      type: object
      properties:
        slug:
          type: string
        title:
          type: string
        description:
          type: string
        tagList:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        favorited:
          type: boolean
        favoritesCount:
          type: integer
        membersOnly:
          type: boolean
        author:
          $ref: '#/components/schemas/Profile'
    UserResponse:
      required:
        - user
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
    ProfileResponse:
      required:
        - profile
      type: object
      properties:
        profile:
          $ref: '#/components/schemas/Profile'
    SingleArticleResponse:
      required:
        - article
      type: object
      properties:
        article:
          $ref: '#/components/schemas/Article'
    MultipleArticlesResponse:
      required:
        - articles
        - articlesCount
      type: object
      properties:
        articles:
          type: array
          items:
            $ref: '#/components/schemas/ArticlePreview'
        articlesCount:
          type: integer
    SingleCommentResponse:
      required:
        - comment
      type: object
      properties:
        comment:
          $ref: '#/components/schemas/Comment'
    MultipleCommentsResponse:
      required:
        - comments
      type: object
      properties:
        comments:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
    TagsResponse:
      required:
        - tags
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
  parameters:
    offsetParam:
      in: query
      name: offset
      required: true
      schema:
        type: integer
        minimum: 0
      description: The number of items to skip before starting to collect the result set.
    limitParam:
      in: query
      name: limit
      required: true
      schema:
        type: integer
        minimum: 1
        default: 20
      description: The numbers of items to return.
  securitySchemes:
    Token:
      type: apiKey
      description: "Authentication is handled via Authorization header using a single\
        \ JWT token returned in `user.token`.\n\nProtected requests must include:\n\
        \n    Authorization: Token xxxxxx.yyyyyyy.zzzzzz\n"
      name: Authorization
      in: header
